# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled class files
*.class

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# IDE - VSCode
.vscode/
.factorypath

# IDE - Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment / secrets
.env
.env.local

# Build output lain
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.war